{:deps true
 :builds {:app {:target shadow-cljs-gjs-target.core
                :runtime :custom
                :output-dir "./jslibs"
                :output-to "./gtk-grid.js"
                :main gtk-grid/main}}}
